<div class="header">
  <h3 class="text-muted">reddit oauth2 chrome extension angular template</h3>
</div>

<div class="jumbotron">
  <p><a class="btn btn-lg btn-success" ng-click="authorizeApp()">Authorize App</a></p>
  <p><a id="debugGet" disabled class="btn btn-lg btn-primary" ng-click="debug()">Debug call</a></p>
  <p><input id="debugCall" disabled type="text" ng-model="debugCall"></input></p>


</div>

<div class="panel panel-default" ng-show="debugResponse">
  <div class="panel-body">
    <pre>{{ debugResponse }}</pre>
  </div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> seglo</p>
</div>
